*{
	font-family: 'ABeeZee', sans-serif;
}

body{
	background-image: url(../img/imagen-fondo-4.jpg);
	background-position: center;
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.btn{
	background-color: transparent;
	color: whitesmoke;
}

.btn:hover{
	background-color: rgba(255,255,255,0.5);
}

.btn a{
	color: whitesmoke;
	text-decoration: none;
}

.btn a:hover{
	color: black;
}

.open>.dropdown-menu {
    display: block;
    background-color: rgba(255,255,255,0.5);
 }

.open>.dropdown-menu a{
    color: black;
}

.open>.dropdown-menu a:hover{
	color: red;
	background-color: transparent;

}

.titulo h1{
	color: whitesmoke;
	font-family: 'Lobster', cursive;
}

.panel-default {
    background-color: transparent;
    border: none;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border: none;
}

.panel-title{
	color: whitesmoke;
}

.form-control{
	background-color: rgba(225,225,255,0.3);
	border: 2px solid whitesmoke;
	color: whitesmoke;
	border-radius: 0;
}

.checkbox label{
	color: whitesmoke;
}

.boton-login{
	width: 100%;
	background-color: transparent;
	border: 2px solid whitesmoke;
	height: 40px; 
	color: whitesmoke;
}

.parrafo{
	margin: 20px;
}

.parrafo p{
	color: whitesmoke;
	display: inline-block;

}

.circulo{
	display: inline-block;
	line-height: 2px;
}

.cont{
	display: inline-block;
	border-top: 2px solid rgba(225, 225, 225, 0.8);
	width: 40%; 
	margin: 3px;
}

.circulito{
	color: rgba(225, 225, 225, 0.8);
	margin: 0 auto;
}

.facebook{
	color: whitesmoke;
	width: 100%;
	font-size: 15px;
	margin: 10px 0;
}

.facebook a{
	text-decoration: none;
	color: whitesmoke;
	margin: 3px;
	cursor: pointer;
}

.facebook a:hover{
	color: blue;
	background-color: rgba(225,225,225,0.7);
	padding: 5px;
	text-decoration: underline;

}

footer{
	background-color: rgba(225,225,225,0.2);
	height: 50px;
	margin-top: 16%;
	border-top: 2px solid rgba(225,225,225,0.7);
	margin-bottom: 20%;
}

footer p{
	display: inline-block;
	margin: 12px 0;
	color: whitesmoke;
}

#p2{
	font-weight: bold;
	cursor: pointer;
}

#p2:hover{
	text-decoration: underline;
}

span{
	display: block;
	background-color: rgba(51,51,51,0.8);
	padding: 5px;
	width: 50%;
	color: white;
}


.hidden{
	/*display: none;*/
}

.navegador{
	background-color: black;
	margin: 0;
	padding: 0;
	height: 20px;
}

.fondito{
	background-color: white;
}

.circulos{
	color: whitesmoke;
}

.wifi{
	color: whitesmoke;
}

.pila{
	color: whitesmoke;
}

.listado{
	width: 100%;
	margin: 0;
	padding: 0;
}

.lista{
	display: inline-block;
}

.lista p{
	color: whitesmoke;
	padding-left: 90px;
	padding-right: 149px;
	margin: 0;
}

.lista i{
	margin: 0;
	padding: 0;
}

.fondito{
	background-image: url(../img/imagen-fondo.jpg);
	background-position: center;
	margin: 0;
	padding: 0;
}

.contenedor-cajas{
	display: inline-block;
	padding: 8px;
}

.cajas{
	display: inline-block;
}

#caja-uno{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	margin: 0;
}

#caja-dos{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	margin: 0;
}

#caja-tres{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	margin: 0;
}

#caja-cuatro{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	margin: 0;
}

#caja-cinco{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	margin: 0;
}

#caja-seis{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	margin: 0;
}

#caja-siete{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	margin: 0;
}

#caja-ocho{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	margin: 0;
}